.link{

    color: red;
    border: 1px solid red;
    width: 500px;

}
table, th, td{
    border: 1px solid black;
    border-color: black;
}

td{
    text-align: center;
}

.inline{
    background: violet;
}
.block{
    background: brown;
}
th{
    background: yellowgreen ;
}